version: 2.1
orbs:
  heroku: circleci/heroku@1.2.6
  windows: circleci/windows@2.4.1
jobs:
  build:
    description: Build application with Release configuration
    executor:
      name: windows/default
    steps:
      - checkout
      - restore_cache:
          keys:
            - dotnet-packages-v1-{{ checksum "..\NLayer.Caching\NLayer.Caching.csproj" }}
      - run:
          name: "Install project dependencies"
          command: dotnet.exe restore
      - run:
          name: "Build Application according to some given configuration"
          command: dotnet.exe build --configuration Release
      #   - run:
      #       name: Deploy Main to Heroku
      #       command: git push https://heroku:20d06bd9-3ebd-4691-8de8-26dff09abda2@git.heroku.com/vesyapi.git
      # - run:         
      #    docker login --username=yunustuna.tak@gmail.com --password= registry.heroku.com
      #    docker tag aspnetapp registry.heroku.com/vesyapi/web
      #    docker push registry.heroku.com/vesyapi/web                
      #    curl https://cli-assets.heroku.com/install.sh | sh
      #    heroku container:release web -a vesyapi
        
workflows:
  heroku_deploy:
    jobs:
      - heroku/deploy-via-git
